html {
    scroll-behavior: smooth !important;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #061161);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    scroll-behavior: smooth;
}

#main-div{
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}


.navbar {
    background-color: #1a1a1a;
    padding: 20px;
    color: white;
    z-index: 1;
    zoom: 0.9;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.navbar li {
    margin-right: 20px;
    z-index: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    z-index: 1;
}

.navbar a:hover {
    text-decoration: underline;
}

.website-brand-image{
    width: 50px;
    aspect-ratio: 4/4;
    margin-left: 10px;
}


@media screen and (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar li {
        margin: 10px 0;
    }


    .navbar .hamburger {
        display: block;
        background-color: transparent;
        color: white;
        padding: 10px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        z-index: 1;
    }

    .navbar ul {
        display: none;
        width: 100%;
        margin-top: 20px;
    }

    .navbar.active ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .grid
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    article{
        margin: 0;
    }

    

}


@media screen and (min-width: 769px) {
    .navbar .hamburger {
        display: none;
    }
}


#website-brand{
    display: block;
}

.blob-outer-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(100px);
}

.blob-inner-container {
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    transform: scale(0.8);
}

.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #08f, #f60, #bbffa1, #4c00ff, #ab2666, #09f);
    opacity: 0.9;
    filter: blur(5px); 
    animation: spinBlob 8s linear infinite;
    z-index: -1; 
}

.blob::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}


@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}

.interview-mode-div {
    padding: 60px 20px;
}


.interview-mode-div {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center all children horizontally */
    backdrop-filter: blur(15px);
    background-color: rgba(31, 31, 31, 0.25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    z-index: 1;
}

.interview-mode-div h2 {
    text-align: center;
    font-size: 1.5rem;
    z-index: 2;
}

.interview-mode-div{
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(31, 31, 31, 0.25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}










